NODE_ENV=development

PORT=3000

TIMEZONE=Asia/Tehran

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=@goldentowerbojnurd
TELEGRAM_ADMIN_ID=

OPENAI_API_KEY=
OPENAI_MODEL=

GOLDENTOWER_API_URL=
GOLDENTOWER_API_TOKEN=

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=goldentower_bot
DATABASE_USER=root
DATABASE_PASSWORD=

WEEKLY_GENERATION_DAY=6
WEEKLY_GENERATION_HOUR=2
WEEKLY_GENERATION_MINUTE=0